[user]
	name = Maciej Bromirski
	email = 50320623+Nevalicjus@users.noreply.github.com
	signingkey = 5C27D1D614606E32
[core]
	editor = micro
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

